.main{
    background-color: #f5f5f5;
}

.description__freeship{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fffefb;
    border: 1px solid #f3db97;
    padding: 10px 20px;
    border-radius: 3px;
}

.description__freeship-img{
    width: 24px;
    height: 20px;
    margin-right: 10px;
}

.description__freeship-text{
    font-size: 14px;
}

.Cart__header{
    background-color: var(--white-color);
    width: 100%;
    padding: 15px 40px;
    border-radius: 3px;
    display: flex;
}

.order__checkbox{
    margin-right: 10px;
    position: relative;
    top:2px;
    width: 16px;
    height: 16px;
}

.Cart__header-checkbox-text{
    font-size: 14px;
    color: rgba(0,0,0,.8);
    width: 46.27949%;
}

.Cart__header-unitprice{
    width: 15.88022%;
    color: #888;
    font-size: 14px;
    text-align: center;
}

.Cart__header-quantity{
    width: 15.4265%;
    color: #888;
    font-size: 14px;
    text-align: center;
}

.Cart__header-price{
    width: 10.43557%;
    color: #888;
    font-size: 14px;
    text-align: center;
}

.Cart__header-operation{
    width: 12.70417%;
    color: #888;
    font-size: 14px;
    text-align: center;
}

.order__overview{
    background-color: var(--white-color);
    width: 100%;
    border-radius: 3px;
    margin-top: 15px;
}

.order__header{
    padding: 15px 40px;
    border-bottom:1px solid #d5d5d5 ;
}


.order__header-shopname{
    font-size: 14px;
    margin: 0px 5px;
}

.order__body{
    padding: 25px 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
}

.order__body-img-product{
    width: 80px;
}

.order__body-name-product{
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    width: 19%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-left: 10px;
}

.fakeblock{
    width: 23.9%;
}

.order__body-unitprice{
    font-size: 14px;
}

.quantity_set-wrap{
    width: 16%;
    margin-left: 88px;
}

.minus__label{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.order__body-quantity{
    width: 50px;
    height: 32px;
    border: 1px solid #d5d5d5;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    outline: none;
}

.plus__label{
    width: 32px;
    height: 32px;
    margin-left: 14px;
    cursor: pointer;
}

.order__body-price{
    width: 12%;
    font-size: 14px;
    color: var(--primary-color);
}

.order__body-remove{
    font-size: 14px;

}

.order__body-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.order__footer{
    padding: 15px 40px;
}

.order__footer-label-freeship{
    width: 24px;
    height: 20px;
    margin-right: 20px;
}

.order__footer-description{
    font-size: 14px;
    margin-right: 5px;
}

.order__footer-findmore{
    text-decoration: none;
    font-size: 14px;
}

.order__detail-overview{
    background-color: var(--white-color);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.order__detail-header{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    border-bottom: 1px dashed #d5d5d5;
}

.fake__block_buy{
    width: 60%;
}

.voucher__label{
    position: relative;
    top: 3px;
    font-size: 20px;
    margin-right: 10px;
}

.order__detail-header-heading{
   font-size: 16px;
   width: 26.4%;
}

.order__detail-header-choose{
    position: relative;
    margin-right: 0;
    font-size: 14px;
    text-decoration: none;
    color: #0055AA;
}


.order__detail-buy{
    display: flex;
    padding: 15px 20px;
    align-items: center;
}

.select_all-text{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}

.order__detail-buy-remove{
    font-size: 16px;
    cursor: pointer;
}

.fake__block-total-price{
    width: 42%;
}

.Total__payment{
    font-size: 16px;
    margin-right: 10px
}

.Total__payment-price{
    font-size: 24px;
    color: var(--primary-color);
    position: relative;
    margin-right: 10px;
}

.btn-web.btn--primary.btn--buy{
    padding: 5px 65px
}